nav{
    width:auto;
    height:auto;
    padding: 5px 20px 5px 20px;
    border: 10px solid black;
    margin: 3px 0 2px 0;
    background-color: black;
    color: white;
}
td a
{
    color: white;
    display: flex;
}

ul{
    width:auto;
    height:auto;
    padding: 5px 20px 5px 20px;
    border: 10px solid black;
    margin: 2px 0 2px 0;
    background-color: black;
    color: white;
    display: flex;
    gap:5px;
}

ul a{
    color: #ffff;
}

